{% extends 'base.html' %}
{% block right-panel-content %}
    <h3 class="text-center">{{ title }}</h3>
    {% if  not musics %}
        <h3 class="text-center">对不起没有歌曲</h3>
    {% endif %}

    {% for music in musics %}

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-3 column">
                    <img class="img-thumbnail music-image" alt="140x140" src="{{ music.pic }}" width=140px
                         height=140px/>
                </div>
                <div class="col-md-7 column">
                    <h3>
                        <a href="{% url 'music' music.id %}">    {{ music.name }}</a>
                    </h3>
                    <p>{{ music.lyric| slice:":100" }}......</p>
                    <p>歌手: {{ music.artist }}</p>
                    <p>年代: {{ music.years }}</p>
                    <p>浏览量:{{ music.num }} / 收藏量:{{ music.collect.count }} / 评分量: {{ music.rate_set.count }}</p>

                </div>
            </div>
        </div>
    {% endfor %}
    <div class="container-fluid">
        <ul class="pagination" id="pager">
            {#上一页按钮开始#}
            {# 如果当前页有上一页#}
            {% if musics.has_previous %}
                {#  当前页的上一页按钮正常使用#}
                <li class="previous"><a href="{{ path }}?page={{ musics.previous_page_number }}">上一页</a></li>
            {% else %}
                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                <li class="previous disabled"><a href="#">上一页</a></li>
            {% endif %}
            {#上一页按钮结束#}
            {# 页码开始#}
            <li class="item active"><a href="{{ path }}?page={{ musics.number }}">{{ musics.number }}</a></li>
{#            {% for i in '0123456789'|make_list %}#}
{#                <li class="item"><a href="{{ path }}?page={{ i }}">{{ i }}</a></li>#}
{#            {% endfor %}#}
            {#            <li class="item"><a href="{{ path }}?page={{ music.number|add:2 }}">{{ music.number|add:2 }}</a></li>#}
            {#页码结束#}
            {# 下一页按钮开始#}
            {% if musics.has_next %}
                <li class="next"><a href="{{ path }}?page={{ musics.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="next disabled"><a href="#">下一页</a></li>
            {% endif %}
            <li class="item"><a href="#">
                {{ musics.number }}/{{ musics.paginator.num_pages }}</a>
            </li>

        </ul>
    </div>
{% endblock %}

{% block bottom-js %}
{#    <script>#}
{#        $('.item').click(function () {#}
{#            $('.item').removeClass('active');#}
{#            $(this).addClass('active');#}
{#        })#}
{#    </script>#}

{% endblock %}
