{% extends 'base.html' %}
{% block right-panel-content %}
    <h2 align="center">用户登录</h2>
    <div class="col-md-4 col-md-offset-4">
        <form action="{% url 'login' %}" method='post' autocomplete="on">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="reset"><span class="glyphicon glyphicon-remove"></span></button>
            <button type="submit"><span class="glyphicon glyphicon-ok"></span></button>
        </form>
    </div>
{% endblock %}
